In [2]:
import pandas as pd

In [3]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
# series = 1-dimenional data (1 column)
colours = pd.Series(["Red", "Blue", "White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [5]:
# DataFrame = 2-dimenional data (Table)
car_data = pd.DataFrame({ "Car make": series, "Colour": colours })
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [6]:
# Import data
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

![](anatomy-of-a-dataframe.png)

In [12]:
# Exporting a dataframe
car_sales.to_csv("exported-car-sales.csv", index=False)
export_car_sales = pd.read_csv("exported-car-sales.csv")
export_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [14]:
# conda install openpyxl cannot work -> ModuleNotFoundError
# pip3 install openpyxl work
car_sales.to_excel("exported-car-sales.xlsx")
export_car_sales_excel = pd.read_excel("exported-car-sales.xlsx")

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [16]:
import xlrd

ModuleNotFoundError: No module named 'xlrd'